<h4>Total expenditure</h4>
<p>£<%=@account.total_expenditure %></p>

<h4>Most expensive transaction</h4>
<p>£<%=@account.most_expensive_transaction_amount %></p>

<h4>Least expensive transaction</h4>
<p>£<%=@account.least_expensive_transaction_amount %></p>

<h4>Total balance</h4>
<p>£<%=@account.total_balance %></p>

<h4>Total balance</h4>
<p>£<%=@account.total_number_transactions %></p>

<h4>Total income</h4>
<p>£<%=@account.total_income %></p>

<h4>Total expenses</h4>
<p>£<%=@account.total_expenses %></p>

<h4>Total expenses by category</h4>



