<h4>You have added a transaction!</h4>

<p> Transaction name: <%=@transaction.transaction_name %></p>
<p> Amount: <%=@transaction.amount %></p>
<p> Debit/Credit: <%=@transaction.debit_credit %></p>
<p> Transaction date: <%=@transaction.transaction_date %></p>
<p> Transaction time: <%=@transaction.transaction_time %></p>

<a href="/transactions">View all transactions</a>




