<h5>a</h5>
<hr>

<h3>Transactions last 90 days: <a href="/transactions/new">Add a new transaction</a></h3>
<table>
  <thead>
    <tr>
    <th>Description</th>
    <th>Amount</th>
    <th>Debit/Credit</th>
    <th>Date</th>
    <th>Time</th>
    <th>Merchant</th>
    <th>Category</th>
    </tr>
    </thead>
    <tbody><% @transactions.each do |transaction| %>
    <tr>
    <td><%= transaction.transaction_name() %></td>
    <td>£<%= transaction.amount() %></td>
    <td><%= transaction.debit_credit() %></td>
    <td><%= transaction.transaction_date() %></td>
    <td><%= transaction.transaction_time() %></td>
    <td><%= transaction.merchant_name() %></td>
    <td><%= transaction.tag_name() %></td>
    </tr>
    <% end %>
    </tbody>
    </table>

    </div>


   