<h2>Transaction</h2>
<br>
<%= @transaction.transaction_name %> 
<%= @transaction.amount %> 
<%= @transaction.debit_credit %> 
<%= @transaction.transaction_date %>  
<%= @transaction.transaction_time %>
</div>